RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule index.html.var index.php
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule \.(css|js|png|jpg|gif|woff|woff2|ttf|jpeg|xml|pdf)$ - [L]
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^/.*$ index.php [QSA,L]
RewriteRule ^(.*)$ index.php [QSA,L]
# RewriteRule ^sitemap\.xml$ sitemap.php [L]
